import {Component} from 'angular2/core';

@Component({
    selector: 'new-selector',
    template: `
        <h1>Angular 2 Component</h1>
        <p>Hello World!</p>
    `,
})
export class NewComponent {

}
